
#map {
    height: 500px;
    width: 100vw;
}

/* 1000 x 747 */
#garmin {
    width: 100vw;
}

/* 1034.9825 749.90594 */
#garminhsi {
    width: 100vw;
}

/* 1034.483 54.428696 */
#garminapbar {
    width: 100vw;
}

/* 150 150 */
.dial {
    width: 24vw;
    height: 24vw;
}

.dialbar {
    width: 100vw;
    flex-direction: row!important;
}

@media screen and (max-height: 515px) {

    #map {
        height: 450px;
        width: 700px;
    }

    #garminapbar {
        width: 560px;
        height: 30px;
    }

    #garmin {
        width: 560px;
        height: 420px;
    }
    
    #garminhsi {
        width: 618px;
        height: 446px;
    }

    .dialbar {
        width: 112px;
        flex-direction: column !important;
    }

    .dial {
        width: 112px;
        height: 112px;
    }
}

.leaflet-touch .leaflet-bar button {
    height: 50px !important;
    width: 50px !important;
    padding: 8px;
}

.leaflet-touch .leaflet-bar a {
    height: 50px !important;
    width: 50px !important;
    padding: 8px;
}