

#map {
    height: 500px;
    width: 100vw;
}


@media screen and (max-height: 515px) {

    #map {
        height: 450px;
        width: 700px;
    }
}

/* 1000 x 747 */
#garmin {

    width: 100vw;
}

/* 1034.9825 749.90594 */
#garminhsi {
    width: 100vw;
}


@media screen and (max-height: 515px) {

    #garmin {
        height: 446px;
        width: 597px;
    }

    #garminhsi {
        height: 446px;
        width: 618px;
    }
}

.leaflet-touch .leaflet-bar button {
    height: 50px !important;
    width: 50px !important;
    padding: 8px;
}

.leaflet-touch .leaflet-bar a {
    height: 50px !important;
    width: 50px !important;
    padding: 8px;
}