@using System.Windows.Navigation

<div class="d-flex flex-column  flex-shrink-1">

    <object id="@($"bar_{Value}")" data="./gauges/Garmin-generic-line-single-horizontal.svg" type="image/svg+xml" class="bar"></object>

</div>
