@using System.Windows.Navigation

<div class="d-flex flex-column  flex-shrink-1">

    <object id="@($"dial_{Value}")" data="./gauges/Garmin-generic-arc.svg" type="image/svg+xml" class="dial"></object>

</div>
