@page "/"
@using System.Windows
@using msfs_server.msfs

@layout MainLayout
  
<MovingMap />

<div class="d-flex flex-column  flex-shrink-1">

        <GarminG5APBar />
        <GarminG5 />

</div>



<GarminG5HSI />